<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
<mat-grid-list cols="2" rowHeight="8:1" >
        <mat-grid-tile [colspan]='2'>
            <mat-label><h3>Sign In</h3> </mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-label>Email Id</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field >
            <input matInput placeholder="emailId" type="email" name="emailId"  formControlName="emailId" required>
              <mat-error class="error-msg"
                   *ngIf="loginForm.controls['emailId'].hasError('required') && (loginForm.touched || loginForm.dirty)">
                Email Id is required
              </mat-error>
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-label>Password</mat-label>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field >
          <input matInput placeholder="password" type="password" name="password"  formControlName="password" required>
        
        <mat-error class="error-msg"
        *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.touched || loginForm.dirty)">
          Password is required
        </mat-error>
      </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile [colspan]='2'>
        <button type="submit" mat-flat-button>Sign In</button>
      </mat-grid-tile>
      </mat-grid-list>
      </form>
      