/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 10px;
}
.my-grid-tile {
  padding-top: 24px !important;
}
.welcome {
  padding-top: 100px;
  font-weight: lighter;
  font-size: 16px ;
  color: rgb(89,89,89);
}
.agseed {
  font-size: 30px ;
}
.agseedp {
  font-size: 20px;
  color: rgb(89,89,89);
}.
.span4 img {
  margin-right: 10px;
}
.span4 .img-left {
  float: left;
  margin-left: 100px;
}
.span4 .img-right {
  float: right;
}
.card {
  position: relative;
}
.img-mid{
  height: 600px;
  padding-left: 300px;
}

.agseedimg {
  margin-top: 150px;
  width: 450px;
}
.finder {
  font-size:26px;
  margin-top: 100px;
}
.agseeds{
  font-size: 14px ;
}
.agseedsdiv{
  width: 60%;
  float:right;
}
.mat-flat-button {
  background-color:rgb(208, 94, 40);
  color: white;
  text-align: center;
}
