<div class="home-page">
	<div>
		<mat-grid-list cols="2" rowHeight="2:1">
			<mat-grid-tile>
				<img src="//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/AgSeedQuote-Bubbles1-0001.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25" alt="image1" data-ux="Image" data-field-id="image" data-field-route="/imagePivot" class="agseednetwork">
    </mat-grid-tile>
				<mat-grid-tile>
					<div data-ux="Group">
						<h6 typography="DetailsAlpha" data-ux="Details" data-route="secondaryTitle"
							data-aid="SECONDARY_TITLE_RENDERED" class="details-header">
							Welcome to</h6>
						<h1 typography="HeadingAlpha" data-ux="HeadingMajor" data-route="sectionTitle"
							data-aid="SECTION_TITLE_RENDERED" data-promoted-from="2" data-order="0"
							class="major-header">Ag Seed
							Network</h1>
						<div data-ux="HorizontalBox">
							<div typography="BodyBeta" data-ux="Text" data-route="description"
								data-aid="DESCRIPTION_TEXT" class="bodybeta">
								<p style="margin:0">
									<span>Connecting Americas Farmers (Locally) to over 30,000 Ag Professionals for Seed, Chem, Financing, Insurance and Other Ag Services&nbsp;</span>
								</p>
							</div>
						</div>
					</div>
				</mat-grid-tile>
		</mat-grid-list>
	</div>
	<div class="getting-started-tittle">
		<span data-ux="Element" class="sample-header">Getting Started</span>
	</div>
	<div>
		<mat-grid-list cols="2">
			<mat-grid-tile>
				<div class="delta-content">
					<h4 typography="HeadingDelta" data-ux="ContentHeading" data-aid="CONTENT_MEDIA_HEADLINE1_RENDERED"
						data-route="mediaHeadline1" class="heading-delta">Our Mission ...</h4>
					<p>
						<span>Story about the Company here.....</span></p>
					<p>
						<span>with as many words as your heart desires. You can write articles, long mission statements, company policies, executive profiles, company awards/distinctions, office locations, shareholder reports, whitepapers, media mentions and other pieces of content that don’t fit into a shorter, more succinct space.</span>
					</p>
					<p>
						<span>Articles – Good topics for articles include anything related to your company – recent changes to operations, the latest company softball game – or the industry you’re in. General business trends (think national and even international) are great article fodder, too.</span>
					</p>
					<p>
						<span>Mission statements – You can tell a lot about a company by its mission statement. Don’t have one? Now might be a good time to create one and post it here. A good mission statement tells you what drives a company to do what it does.</span>
					</p>
					<p>
						<span >Company policies – Are there company policies that are particularly important to your business? Perhaps your unlimited paternity/maternity leave policy has endeared you to employees across the company. This is a good place to talk about that.</span>
					</p>
					<p>
						<span>Executive profiles – A company is only as strong as its executive leadership. This is a good place to show off who’s occupying the corner offices. Write a nice bio about each executive that includes what they do, how long they’ve been at it, and what got them to where they are.</span>
					</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<img src="//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/barn-buildings-clouds-248880%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:400,cg:true" srcset="//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/barn-buildings-clouds-248880%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25h:100%25/rs=w:400,cg:true,//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/barn-buildings-clouds-248880%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,cg:true 1.5x,//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/barn-buildings-clouds-248880%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:800,cg:true 2x,//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/barn-buildings-clouds-248880%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1200,cg:true 3x" alt="image2" data-ux="Image" data-aid="CONTENT_IMAGE1_RENDERED" class="x-el x-el-img c1-13 c1-69 c1-z c1-10 c1-1e c1-6h c1-6a c1-2h c1-9 c1-a c1-6r x-d-ux x-d-aid">
  </mat-grid-tile>
		</mat-grid-list>
	</div>
</div>