<section>
	<div class="container" style="margin-top: 100px">
		<div class="row">
			<div class="span4">
				<img class="img-left" src="//img1.wsimg.com/isteam/ip/b914e355-afaa-4df3-969a-ccdd158d08cf/AgSeedQuote-Bubbles1-0001.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25"
					 alt="image1" data-ux="Image" data-field-id="image" data-field-route="/imagePivot" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="welcome details-header"><span> Welcome to </span></div>
		<div class="content-heading agseed"><h1>Ag Seed Network </h1></div>
		<div class= "agseedp">
				 <span>Connecting Americas Farmers (Locally) to over 30,000
					 <br> Ag Professionals for Seed, Chem, Financing, Insurance and
					 <br> Other Ag Services </span>
		</div>
	</div>
</section>


