<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  
  <mat-label>First Name</mat-label>
  <mat-form-field >
    <input matInput placeholder="First Name" name="firstName"  formControlName="firstName">
  </mat-form-field>
  <mat-label>Last Name</mat-label>
  <mat-form-field >
    <input matInput placeholder="Last Name" name="lastName"  formControlName="lastName">
  </mat-form-field>
  <mat-label>E Mail</mat-label>
  <mat-form-field >
    <input matInput placeholder="E Mail" name="email"  formControlName="email">
  </mat-form-field>
  <mat-label>Password</mat-label>
  <mat-form-field >
    <input matInput placeholder="Password" name="password" type="password"  formControlName="password">
  </mat-form-field>
  <mat-label>Confirm Password</mat-label>

  <mat-form-field >
    <input matInput placeholder="Confirm Password" name="confirmPassword" type="password"  formControlName="confirmPassword">
  </mat-form-field>
  <br>


        <div formGroupName="address">
          <h3>Address</h3>
          <mat-label>Street</mat-label>
          <mat-form-field >
            <input matInput placeholder="Street" name="street"  formControlName="street">
          </mat-form-field>
          <mat-label>City</mat-label>
          <mat-form-field >
            <input matInput placeholder="City" name="city"  formControlName="city">
          </mat-form-field>
          <mat-label>State</mat-label>
          <mat-form-field >
            <input matInput placeholder="State" name="state"  formControlName="state">
          </mat-form-field>
          <mat-label>Zip</mat-label>
          <mat-form-field >
            <input matInput placeholder="Zip" name="zip"  formControlName="zip">
          </mat-form-field>
        </div>
      
      </form>
      
      <hr>
      
      